<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <div class="logo-text-nav">
    <img src="../../assets/text_logo.png" width="85px" alt="logo">
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img *ngIf="true" class="avatar mat-elevation-z8" [src]="'../../assets/google.png'" />
    <h4 class="name">user name <mat-icon class="arrow-forward">arrow_forward</mat-icon></h4>

    <!-- <p class="title">Lift Engineer</p> -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>contact_mail</mat-icon>
      <span>Contact</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Q&A</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>language</mat-icon>
      <span>Language</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>money</mat-icon>
      <span>Payment</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <app-dashboard></app-dashboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
